<!DOCTYPE html>
<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

* {
	font-family: sans-serif;
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

#mainContainer {
	display: flex;
	justify-content: center;
}

#subContainer {
	width: 90%;
}

#subContainer h1 {
	margin-top: 10px;
	font-size: 40px;
}

#Error {
	font-size: 25px;
	font-weight: bold;
}

#errorMessage {
	font-size: 20px;
	color: red

}

#subContainer p {
	margin-top: 10px;
	font-size: 18px;
}

#email {
	text-decoration: underline;
	color: blue;
}

</style>
</head>
<body>

<% include ../../../partials/mobile/header %>

<div id="mainContainer">

    <div id="subContainer">
    	
		<h1>Error Page</h1>

		<span id="Error">Error:</span>

		<span id="errorMessage"><%= message %></span>

		<p>The email <span id="email"><%= account %></span> needs to be verified before you can log in or reset your password.

		<p>If your token has expired you can request a new one here: <a href="/resendEmail">Resend email</a></p>
		
    </div>
	
</div>

</body>
</html>