<header style="display: flex;background: lightslategray;height: 100px;justify-content: space-around">
	
  <a href="/" style="display: block;text-decoration: none;align-self: center">  
    <h1 style="color: white;font-size: 38px">jdanmello.com</h1>
  </a>

  <span></span>
	
</header>