<header style="display: flex;background:  #34495E;height: 100px;justify-content: space-around">
	
	<h1 style="color: white;align-self: center;font-size: 38px">Dans App</h1>

  <span></span>
	
</header>