<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

* {
	font-family: sans-serif;
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

#mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#forgotAccountText {
    width: 90%;
    margin-top: 10px;
}

#forgotAccountText p {
	font-size: 19px;
	margin-top: 10px;
}

#forgotForm {
	width: 90%;
	margin-top: 10px;
}

.formItems {
	display: flex;
	flex-direction: column;
}

.formItems label {
	font-size: 20px;
}

.formItems input {
    font-size: 19px;
    padding: 5px 5px 5px 5px;
}

.repeat {
  margin-top: 10px;
}

.button {
    margin-top: 18px;
}

.button input {
	-webkit-appearance: none;
	background: #5b88e8;
	height: 40px;
	color: white;
}

#errorText {
	margin-top: 10px;
	font-size: 19px;
	color: red;
}

</style>
</head>
<body>

<% include ../../../partials/mobile/header %>

<%if (passwordErrors.length > 0) { %>

  <% var passwordErrors = passwordErrors %>

  <% var password = body[0].password %>

  <% var password2 = body[0].password2 %>

<% } %>

<div id="mainContainer">

  <div id="forgotAccountText">

    <h1>Reset Password</h1>

    <p>Enter a new password for your account, remember password must contain 6 to 20 characters.</p>

    <div id="errorText"><%= passwordErrors %></div>

  </div>

  <form id="forgotForm" action="/forgot/<%= token %>" method="post" onsubmit="return formSubmit.disable(this)">

    <div class="formItems">
      <label>Password:</label>
      <input type="password" name="password" value="<%= password %>">
    </div>
    <div class="formItems repeat">
      <label>Repeat Password:</label>
      <input type="password" name="password2" value="<%= password2 %>">
    </div>
    <div class="formItems button">
      <input type="submit" value="Reset password">
    </div>

  </form>

</div>

<script src="/scripts/formSubmit.js"></script>

</body>
</html>