<!DOCTYPE html>
<html>
<head>

  <title>Email Verification</title>
  <link rel="stylesheet" type="text/css" href="/styles/globalContainerNotVerified.css">

<style>

#forgotAccountText {
  margin-top: 10px;
  font-size: 20px;
}

</style>
</head>
<body>

<% include ../../partials/header %>

<div id="mainContainer">

  <div id="subContainer">

    <h1>Almost there!</h1>
    
    <div id="forgotAccountText">An email has been sent to you with instructions on how to reset your password</div>
    
  </div>

</div>

<% include ../../partials/footer %>

</body>
</html>