<!DOCTYPE html>
<html>
<head>

  <title>Password Changed</title>
  <link rel="stylesheet" type="text/css" href="/styles/globalContainerNotVerified.css">

<style>

#forgotAccountText {
  margin-top: 10px;
  font-size: 20px;
}

</style>
</head>
<body>

<% include ../../partials/header %>

<div id="mainContainer">

  <div id="subContainer">

    <h1>That's it!</h1>
    
    <div id="forgotAccountText">Your password has been reset, you may now log in here with your new password <a href="/alternate/login">Log In</a></div>
    
  </div>

</div>

<% include ../../partials/footer %>

</body>
</html>