<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

* {
	font-family: sans-serif;
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

#mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#loginForm {
	width: 90%;
	margin-top: 20px;
}

.loginItems {
	display: flex;
	flex-direction: column;
}

.loginItems label {
	font-size: 20px;
}

.loginItems input {
    font-size: 19px;
    padding: 5px 5px 5px 5px;
}

.button {
    margin-top: 18px;
}

.button input {
	-webkit-appearance: none;
	background: #5b88e8;
	height: 40px;
	color: white;
}

#helpLinks {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 18px;
}

#recoverAccount, #createAccount {
	font-size: 20px;
}

#loginError { 
	color: red;
	font-size: 19px;
}

#orContainer {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#or {
	font-size: 21px;
}

#orContainer hr {
	width: 40%;
}

#githubContainer {
	background: #86af49;
	height: 40px;
	margin-top: 20px;
	text-align: center;
	border-radius: 5px;
	border-top:			1px solid #3f3b3b;
	border-left:		1px solid #3c3f3b;
	border-right:		1px solid #3c3f3b;
	border-bottom:		1px solid #3c3b3f;
}

#githubContainer a {
	color: white;
	display: block;
	font-size: 19px;
	text-decoration: none;
	line-height: 40px;
}

</style>
</head>
<body>

<div id="loading"></div>

<div id="mainContainer">

	<%if (loginErrors.length > 0) { %>

		<% var loginErrors = loginErrors %>

		<% var username = body[0].username %>

	<% } %>

	<% include ../../../partials/mobile/header %>

	
	<form id="loginForm" action="/alternate/login" method="post">

		<div id="loginError"><%= loginErrors %></div>
		<div class="loginItems">
			<label>Username or Email:</label>
			<input type="text" name="username" value="<%= username %>">
		</div>
		<div class="loginItems">
			<label>Password:</label>
			<input type="password" name="password">
		</div>
		<div class="loginItems button">
			<input id="loginButton" type="submit" value="Log In" name="Log In">
		</div>
		<div id="orContainer">
			<hr>
				<span id="or">or</span>
			<hr>
		</div>
		<div id="githubContainer">
			<a class="signupButton" href="/signup/github">Login with Github</a>
		</div>
		<div id="helpLinks">
			<div id="recoverAccount">
				<a href="/forgot">Forgot account?</a>
			</div>
			<div id="createAccount">
				<a href="/alternate/signup">Create an account</a>
			</div>
		</div>

	</form>

</div>

</body>
</html>