<!DOCTYPE html>
<html>
<head>

<title>Mobile Login page</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

* {
	font-family: sans-serif;
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

#mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#loginForm {
	width: 90%;
	margin-top: 20px;
}

.loginItems {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.formInputs label {
	font-size: 20px;
}

.formInputs input {
  font-size: 19px;
  padding: 5px 5px 5px 5px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

.formInputs {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	font-weight: 100;
}

.button {
  margin-top: 25px;
}

.button input { 	
	-webkit-appearance: none;
	background: #40a3f0;
	height: 40px;
	color: white;
	font-size: 19px;
	font-weight: 100;
	border: none;
	box-shadow: 1px 3px 4px #ccc;
}

#helpLinks {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 25px;
}

#recoverAccount, #createAccount {
	font-size: 19px;
	font-weight: 100;
}

#recoverAccount a, #createAccount a {
	color: #1E90FF;
	text-decoration: none;
}

#recoverAccount a:visited, #createAccount a:visited {
	color: #1E90FF;
}

#loginError { 
	color: red;
	font-size: 19px;
}

#orContainer {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#or {
	font-size: 21px;
}

#orContainer hr {
	width: 40%;
}

#githubContainer {
	background: #86af49;
	height: 40px;
	margin-top: 20px;
	text-align: center;
	border-radius: 5px;
	border-top:			1px solid #3f3b3b;
	border-left:		1px solid #3c3f3b;
	border-right:		1px solid #3c3f3b;
	border-bottom:		1px solid #3c3b3f;
}

#githubContainer a {
	color: white;
	display: block;
	font-size: 19px;
	text-decoration: none;
	line-height: 40px;
}

</style>
</head>
<body>

<% include ../../../partials/mobile/header %>

<div id="mainContainer">

	<%if (loginErrors.length > 0) { %>

		<% var loginErrors = loginErrors %>

		<% var username = body[0].username %>

	<% } %>
	
	<form id="loginForm" action="/alternate/login" method="post" onsubmit="return formSubmit.disable(this)">

		<div id="loginError"><%= loginErrors %></div>
		<div class="formInputs">
			<label>Username or Email:</label>
			<input type="text" name="username" value="<%= username %>">
		</div>
		<div class="formInputs">
			<label>Password:</label>
			<input type="password" name="password">
		</div>
		<div class="loginItems button">
			<input id="loginButton" type="submit" value="Log In" name="Log In">
		</div>
		<div id="helpLinks">
			<div id="recoverAccount">
				<a href="/forgot">Forgot account?</a>
			</div>
			<div id="createAccount">
				<a href="/alternate/signup">Create an account</a>
			</div>
		</div>

	</form>

</div>

<script src="/scripts/formSubmit.js"></script>

</body>
</html>
