<!DOCTYPE html>
<html>
<head>

  <title>Legal</title>
  <link rel="stylesheet" type="text/css" href="/styles/globalContainerNotVerified.css">

</head>
<style type="text/css">

</style>
<body>

<% include ../../partials/header %>

<div id="mainContainer">

  <div id="subContainer">

    <h1>Legal</h1>

    <hr style="margin: 10px 0px 10px 0px">

    <div>
      
      <h2 style="margin-bottom: 10px;">Terms of Service</h2>

      <ul style="margin-left: 40px;">
        <li>bla bla</li>
        <li>Term Two</li>
        <li>Term Three</li>
        <li>Term Four</li>
      </ul>

      <hr style="margin: 10px 0px 10px 0px">

      <h2 style="margin-bottom: 10px;">Privacy Policy</h2>

      <ul style="margin-left: 40px;">
        <li>Policy One</li>
        <li>Policy Two</li>
        <li>Policy Three</li>
        <li>Policy Four</li>
      </ul>
    </div>
    
  </div>

</div>

<% include ../../partials/footer %>

</body>
</html