<!DOCTYPE html>
<html>
<head>

<style>
</style>
</head>
<body>

<h1>Thank you, your email <%= email %> is now verified</h1>

<a href="/alternate/login">Click here to go to your to log in</a>

</body>
</html>