<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
</style>
</head>
<body>

<% include ../../../partials/mobile/header %>

<h1>A confirmation email has been sent, please check it to activate your account</h1>

</body>
</html>