<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" type="text/css" href="/styles/globalContainerVerified.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/vendors/tapmodo-Jcrop-1902fbc/css/jquery.Jcrop.css" type="text/css" />

<style>
#mainContainer {
  display: flex;
  justify-content: center;
  background: #F0F3F4;
  min-height: 612px;
}
#subContainer {
  background: white; 
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
}

</style>
</head>
<body>

  <%- include('../../partials/'+page.header) %>

  <div id="mainContainer">

    <div id="subContainer">

      <%- include('../../partials/'+page.profileView) %>

      <% if (myAccount) { %>

        <%- include('../../partials/'+page.createPosts) %>
        
      <% } %>

    </div>
    
  </div>

  <script src="/vendors/JavaScript-Load-Image/js/load-image.all.min.js"></script>
  <script src="/vendors/tapmodo-Jcrop-1902fbc/js/jquery.min.js"></script>
  <script src="/vendors/tapmodo-Jcrop-1902fbc/js/jquery.Jcrop.min.js"></script>

</body>
</html>