<!DOCTYPE html>
<html>
<head>
  <title></title>
<style type="text/css">
#test {
  position: absolute;
  height: 400px;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  top: 50%;
  background: green;
}
</style>
</head>
<body>

  <img id='image' src="/images/dan.JPG" style="display: none;">

  <div id="test">

    <canvas id="canvas"></canvas>

  </div>

  <script src="/scripts/learningCanvas.js"></script>

</body>
</html>