<!DOCTYPE html>
<html>
<head>

  <title>Legal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<style type="text/css">
* {
  font-family: sans-serif;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

</style>
<body>

<% include ../../../partials/mobile/header %>

<div id="mainContainer">

  <h1 style="margin-top: 5px;">Terms of Service</h1>

  <ul style="margin-top: 10px;margin-left: 20px;">
    <li>Term one</li>
    <li>Term two</li>
    <li>Term three</li>
    <li>Term four</li>
  </ul>

  <h1 style="margin-top: 10px;">Privacy Policy</h1>

  <ul style="margin-top: 10px;margin-left: 20px;">
    <li>Policy one</li>
    <li>Policy two</li>
    <li>Policy three</li>
    <li>Policy four</li>
  </ul>

  <p style="margin-top: 10px;">By creating an account you are agreeing to the following terms of service and privacy policy</p>
    
</div>

</body>
</html