<!DOCTYPE html>
<html>
<head>

  <title>Settings</title>
  <link rel="stylesheet" type="text/css" href="/styles/globalContainerVerified.css">
  <link rel="stylesheet" type="text/css" href="/styles/settings/settings.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

  <% include ../../partials/verifiedHeader %>

  <div id="mainContainer">
    
    <div id="subContainer">

      <div id="box">
      
      <h1>Account settings</h1>

      <hr>

      <form id="emailForm" action="/account/settings/changeEmail" method="POST">

        <div class="inputContainers">
          <div class="editLabels">Email</div>
          <div class="editValues"><%= email %></div>
          <div class="editButtonContainer"><span class="editbutton">Edit</span></div>
        </div>

        <div class="newInputContainer hidden">
            <div class="newLabel">New email:</div>
            <input class="newValue" type="text" name="email">
            <div class="newLabel">Current Password:</div>
            <input class="newValue" type="password" name="emailPassword">
          <div class="newPasswordButtonContainer">
            <input id="changeEmail" class="newButton" type="submit" name="submit" value="Change Email">
            <div class="hideMenu">Cancel</div>
          </div>
        </div>

      </form>

      <hr class="formLines">

      <form id="UsernameForm">
        
        <div class="inputContainers">
          <div class="editLabels">Username</div>
          <div class="editValues"><%= username %></div>
          <div class="editButtonContainer"><span class="editbutton">Edit</span></div>
        </div>

        <div class="newInputContainer hidden">
          <div class="newLabel">New Username:</div>
          <input class="newValue" type="text" name="username">
          <div class="newLabel">Current Password:</div>
          <input class="newValue" type="password" name="usernamePassword">
          <div class="newPasswordButtonContainer">
            <input id="changeUsername" class="newButton" type="submit" name="submit" value="Change Username">
            <div class="hideMenu">Cancel</div>
          </div>
        </div>

      </form>

      <hr class="formLines">

      <form id="PasswordForm">
        
        <div class="inputContainers">
          <div class="editLabels">Password</div>
          <div class="editValues">********</div>
          <div class="editButtonContainer"><span class="editbutton">Edit</span></div>
        </div>

        <div class="newInputContainer hidden">
          <div class="newLabel">Current Password:</div>
          <input class="newValue" type="password" name="currentpassword">
          <div class="newLabel">New Password:</div>
          <input class="newValue" type="password" name="passwordValueOne">
          <div class="newLabel">Repeat New Password:</div>
          <input class="newValue" type="password" name="passwordValueTwo">
          <div class="newPasswordButtonContainer">
            <input id="passwordButton" class="newButton" type="submit" name="submit" value="Change Password">
            <div class="hideMenu">Cancel</div>
          </div>
        </div>
        
      </form>

      <hr id="bottomLine">

    </div>

    </div>

  </div>

  <script src="/scripts/settings/accountSettings.js"></script>

</body>
</html>