<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" type="text/css" href="/styles/globalContainerVerified.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

#mainContainer {
  display: flex;
  justify-content: center;
  background: #F0F3F4;
  min-height: 712px;
}
#subContainer {
  display: flex;
  flex-direction: column;
  min-width: 805px;
}
#subContainer hr {
  margin-top: 10px;
}
#emailForm, #UsernameForm, #PasswordForm {
  padding: 10px;
}
.inputContainers {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.inputContainers label {
  font-size: 20px;
}
.inputContainers input {
  font-size: 20px;
  padding: 2px;
}
.inputContainers * {
  flex: 1;
}
.formLines {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; 
}
.editLabels {
  font-weight: bold;
  font-size: 20px;
}
.editValues {
  font-size: 20px;
  flex-basis: 10%;
}
.editButtonContainer {
  padding: 2px;
  color: #365899;
  text-align: right;
}
.editbutton {
  cursor: pointer;
  font-size: 20px;
}
.newInputContainer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newInputContainer input {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
}
.newPasswordContainer {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}
.newLabel {
  font-style: italic;
  font-size: 20px;
}
.newValue {
  padding: 2px;
}
.newButtonContainer {
  display: flex;
}
.newPasswordButtonContainer {
  display: flex;
  justify-content: flex-end;
}
.newPasswordContainer input, .newPasswordContainer div {
  margin-top: 10px;
}
.newPasswordContainer input {
  font-size: 18px;
}
.newButton, .hideMenu {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background: #5b88e8;
  color: white;
  cursor: pointer;
  font-size: 15px;
}
.hideMenu {
  margin-left: 5px;
  background: silver;
}
.hidden {
  display: none;
}
.disabled {
  opacity: .2;
  cursor: default;
}
#box {
  margin-top: 20px;
  margin-bottom: 20px;
  background: white;
  border-radius: 10px;
  padding: 30px;
}
#bottomLine {
  margin-bottom: 10px;
}
.errorText {
  color: red;
  margin-top: 10px;
}
</style>
</head>
<body>

  <% include ../../partials/verifiedHeader %>

  <div id="mainContainer">
    
    <div id="subContainer">

      <div id="box">
      
      <h1>Account settings</h1>

      <hr>

      <form id="emailForm" action="/account/settings/changeEmail" method="POST">

        <div class="inputContainers">
          <div class="editLabels">Email</div>
          <div class="editValues"><%= email %></div>
          <div class="editButtonContainer"><span class="editbutton">Edit</span></div>
        </div>

        <div class="errorText emailError"></div>

        <div class="newInputContainer hidden">
          <div class="newLabel">New email:</div>
          <input class="newValue" type="text" name="email">
          <div class="newButtonContainer">
            <input id="changeEmail" class="newButton" type="submit" name="submit" value="Change Email">
            <div class="hideMenu">Cancel</div>
          </div>
        </div>

      </form>

      <hr class="formLines">

      <form id="UsernameForm">
        
        <div class="inputContainers">
          <div class="editLabels">Username</div>
          <div class="editValues"><%= username %></div>
          <div class="editButtonContainer"><span class="editbutton">Edit</span></div>
        </div>

        <div class="newInputContainer hidden">
          <div class="newLabel">New Username:</div>
          <input class="newValue" type="text" name="username">
          <div class="newButtonContainer">
            <input class="newButton" type="submit" name="submit" value="Change Username">
            <div class="hideMenu">Cancel</div>
          </div>
        </div>

      </form>

      <hr class="formLines">

      <form id="PasswordForm">
        
        <div class="inputContainers">
          <div class="editLabels">Password</div>
          <div class="editValues">********</div>
          <div class="editButtonContainer"><span class="editbutton">Edit</span></div>
        </div>

        <div class="newPasswordContainer hidden">
          <div class="newLabel">Current Password:</div>
          <input class="newValue" type="password" name="currentpassword">
          <div class="newLabel">New Password:</div>
          <input class="newValue" type="password" name="password">
          <div class="newLabel">Repeat New Password:</div>
          <input class="newValue" type="password" name="password2">
          <div class="newPasswordButtonContainer">
            <input class="newButton" type="submit" name="submit" value="Change Password">
            <div class="hideMenu">Cancel</div>
          </div>
        </div>
        
      </form>

      <hr id="bottomLine">

    </div>

    </div>

  </div>

  <script type="text/javascript">

  let settingsModule = (function () {

    let subContainer = document.querySelector('#subContainer');

    let buttons = subContainer.querySelectorAll('.editbutton').forEach(button => {

      button.addEventListener('click', showMenu)

    })

    let cancelButton = subContainer.querySelectorAll('.hideMenu').forEach(button => {

      button.addEventListener('click', hideMenu)

    })

    let activeContainer = []

    function showMenu () {

      if (this.classList.contains('disabled')) return false

      if (activeContainer.length > 0) {

        activeContainer.forEach(container => {

          container.classList.add('hidden')
          container.classList.remove('showing')

          container
            .parentElement
            .querySelector('.disabled')
            .classList
            .remove('disabled')
        })

        activeContainer.pop()
      }

      this.classList.add('disabled')

      let parentForm = this.parentElement

      while (parentForm.tagName !== 'FORM') {

        parentForm = parentForm.parentElement
      }

      Array.from(parentForm.children).forEach(children => {

        if (children.classList.contains('hidden')) {

          children.classList.remove('hidden')
          children.classList.add('showing')
          activeContainer.push(children)
        }

      })

    }

    function hideMenu () {

      subContainer.querySelectorAll('.errorText').forEach(error => {

        if (error.innerHTML) error.innerHTML = ""
      })

      let hideThisContainer = this.parentElement

      while (!hideThisContainer.classList.contains('showing')) {

        hideThisContainer = hideThisContainer.parentElement
      }

      hideThisContainer.classList.remove('showing')
      hideThisContainer.classList.add('hidden')

      hideThisContainer
        .parentElement
        .querySelector('.disabled')
        .classList
        .remove('disabled')

      activeContainer.pop()
    }

    let changeEmailButton = subContainer
      .querySelector('#changeEmail')
      .addEventListener('click', changeEmail)

    function changeEmail (e) {

      e.preventDefault()

      let emailTest = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/

      let email = subContainer
        .querySelector('input[name="email"]')
        .value

      if (!emailTest.test(email)) {

        subContainer
          .querySelector('.emailError')
          .innerHTML = "Please enter a valid email*"

        return false

      } else {

        fetch('http://localhost/account/settings/changeEmail', {
          method: 'POST',
          credentials: 'include',
          body: JSON.stringify({
            email
          })
        }).then(res => {

          return res.json()

        }).then(resJson => {

          console.log(resJson)

        })

      } 

    }

  })()

  </script>

</body>
</html>