<a href="/" style="display: block;text-decoration: none;">
  <div id="mainHeadingContainer" style="background: white;width: 100%;text-align: center;padding: 25px;box-shadow: 1px 1px 1px #ccc">
  	
  	<h1 id="mainHeading" style="color: #ccc;font-weight:100">jdanmello.com</h1>
  	
  </div>
</a>
