<a href="/" style="display: block;text-decoration: none;">
  <div id="mainHeadingContainer" style="background: #3b5998;width: 100%;text-align: center;padding: 25px;">
  	
  	<h1 id="mainHeading" style="color: white;">jdanmello.com</h1>
  	
  </div>
</a>
