<a href="/" style="display: block;text-decoration: none;">
  <div id="mainHeadingContainer" style="background: white;width: 100%;text-align: center;padding: 25px;box-shadow: 1px 1px 1px #ccc">
  	
  	<h1 id="mainHeading" style="color: black;font-family:Snell Roundhand,cursive;font-weight:100;font-size:45px;">Jdanmello.com</h1>
  	
  </div>
</a>
