<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
</style>
</head>
<body>

<% include ../../../../partials/mobile/header %>

<h1>Thank you, your email <%= email %> is now verified</h1>

<a href="/alternate/login">Click here to go to your to log in</a>

</body>
</html>