<!DOCTYPE html>
<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div>Error: <%= message %></div>

<p>You can can resend your token by entering your email here: <a href="/account/resendEmail">Resend email</a></p>

</body>
</html>