<!DOCTYPE html>
<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

* {
	font-family: sans-serif;
	margin:0;
	padding: 0;
	box-sizing: border-box;
	white-space: nowrap;
}

#mainContainer {
	display: flex;
	justify-content: center;
}

#subContainer h1 {
	margin-top: 20px;
	font-size: 40px;
	min-width: 30%;
	max-width: 50%;
}

#Error {
	font-size: 25px;
	margin-top: 10px;
	display: block;
	font-weight: bold;
}

#errorMessage {
	font-size: 20px;
	color: red;
	margin-top: 10px;
	display: block;
}

#subContainer p {
	margin-top: 10px;
	font-size: 18px;
}

#email {
	text-decoration: underline;
	color: blue;
}

</style>
</head>
<body>

<% include ../../partials/header %>

<div id="mainContainer">

    <div id="subContainer">
    	
			<h1>Error Page</h1>

			<span id="Error">Error:</span>

			<span id="errorMessage"><%= message %></span>

			<p>The email <span id="email"><%= account %></span> needs to be verified before you can log in or reset your password.

			<p>If your token has expired you can request a new one here: <a href="/account/resendEmail">Resend email</a></p>
		
    </div>
	
</div>

</body>
</html>