<!DOCTYPE html>
<html>
<head>

</head>
<body>

<div>Error: <%= message %></div>

<p>This means that your account <%= account %>, has already been created. If this is not your account you can log out here: <a href="/logout">Log Out</a></p>

<p>If this is your account you will need to check your email and verify your account by clicking the link in your email to log in. If your token has expired you can request a new one here: <a href="/resendEmail">Resend email</a></p>

</body>
</html>